html {
    scroll-behavior: smooth;
}

/* Head Piece */
.AboutHead {
    position: relative;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.3);
    object-fit: contain;
}

.AboutHead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust alpha for tint intensity */
    z-index: 1; /* Place overlay below text but above background */
}

.AboutPage::after {
    z-index: -1;
    content:'';
    background: url('/public/images/About_Head.jpg')
    center 
    center/cover
    no-repeat; 
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:90vh;
}

.AboutHead > h1,
.AboutHead > p,
.AboutHead {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
}

.AboutHead > h1 {
    color: #fff !important;
    font-size: 100px;
    margin-top: -100px;
}

.AboutHead > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body */
.AboutBody {
    background-color: #ffffff !important;
}

.AboutThetaTau > h1,
.AboutThetaTau > p,
.AboutEtaGamma > p {
    color: black;
    position: relative;
    z-index: 2;
    text-align: center;
}

.AboutEtaGamma > p {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.AboutEtaGamma .aboutImg {
    width: 65rem;
}

.AboutPage .AboutBody .AboutThetaTau > p {
    margin-right: 15rem;
    margin-left: 15rem;
    font-weight: lighter;
}

.AboutThetaTau > h1 {
    margin-top: 2rem;
    font-size: 4rem;
}

.AboutEtaGamma .grid-item > h1 {
    font-size: 2rem;
    padding-left: 2.75rem;
}

.CoreValues {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), 
    url('/public/images/jacqueminot.png')
    center 
    center/cover
    no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    z-index: 1; 
    overflow: visible;
}

.CoreValues > h1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.AboutThetaTau h1::after {
    content: ""; /* No content, just a decorative line */
    position: absolute;
    bottom: 0; /* Align it at the bottom of the text */
    left: 50%; /* Start from the center horizontally */
    transform: translateX(-50%); /* Center it under the text */
    height: .35rem; /* Thickness of the underline */
    width: 25rem; /* Width of the underline */
    background-color: rgba(0, 0, 0, 0.2); /* Light grey color for underline */
    border-radius: 5px; /* Slightly rounded edges for a softer look */
}

.grid-container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right:  4rem;
    margin-left: .5rem;
    gap: 1rem;
}

.AboutThetaTau > p,
.AboutEtaGamma .grid-item  > p {
    display: block;
    align-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.AboutEtaGamma {
    background-color: rgba(0, 0, 2, 0.036);
    padding-top: .25rem;
    padding-bottom: 2rem;
}

.AboutEtaGamma .grid-item > img {
    width: 30rem;
    align-items: start;
    margin-right: .5rem;
    border-radius: 5%;
}

/* More About Us Div */

.MoreAboutUs {
    margin-top: 2rem;
    /* Future Consideration, to have flower background here, right now it just makes 
    it look a little messy */
}

.MoreAboutUs .grid-item > h1 {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    height: 1.75rem;
}

.MoreAboutUs .grid-item > p {
    display: block;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.AboutPics {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        border-radius: 5%;
    }
}

/* Motto Section */

.Motto {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 1rem;
}

.MottoVerbage {
    margin: 2rem;
}

.MottoVerbage > h2 {
    font-size: 3rem;
    position: relative;
}

.MottoVerbage > p {
    font-size: 1.75rem;
}

.MottoImg > img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 35rem;
    margin-left: .5rem;
}

.MottoVerbage h2::after {
    content: ""; /* No content, just a decorative line */
    position: absolute;
    bottom: 0px; /* Adjust based on the distance below the text */
    left: 28.25%; /* Center horizontally relative to the text */
    transform: translateX(-50%); /* Center alignment under the text */
    height: 0.35rem; /* Thickness of the underline */
    width: 13.5rem; /* Width of the underline */
    background-color: rgba(0, 0, 0, 0.2); /* Light grey color for underline */
    border-radius: 5px; /* Slightly rounded edges for a softer look */
}

@media screen and (max-width: 1000px){
    .MottoVerbage h2::after {
        position: absolute;
        bottom: 2px; /* Adjust based on the distance below the text */
        left: 2.25%; /* Center horizontally relative to the text */
        transform: translateX(0%); /* Center alignment under the text */
        width: 14.25rem; /* Width of the underline */
    }
}

@media screen and (max-width: 850px) {
    .AboutThetaTau > h1,
    .AboutEtaGamma > h1 {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .CoreValues > h1 {
        font-size: 2.5rem;
    }

    .AboutThetaTau h1::after {
        bottom: 0; /* Align it at the bottom of the text */
        left: 50%; /* Start from the center horizontally */
        transform: translateX(-50%); /* Center it under the text */
        width: 15rem; /* Width of the underline */
    }
    
    .grid-container {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }

    .AboutEtaGamma .grid-item > img {
        display: flex;
        width: 30rem;
        margin-right: none;
        padding-right: 0;
    }
    .AboutPage .AboutBody .AboutThetaTau > p {
        margin-right: 3rem;
        margin-left: 3rem;
        font-size: 1.5rem;
    }
    .AboutEtaGamma h1 {
        text-align: center;
    }

    .AboutEtaGamma .aboutImg {
        display: flex;
        justify-content: center;
        width: 25rem;
    }

    .MottoImg > img {
        width: 25rem;
        padding-left: 0;
    }

    .MottoVerbage {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .MottoVerbage > h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .MottoVerbage > p {
        font-size: 1.25rem;
    }

    .MottoVerbage h2::after {
        bottom: 17px; /* Adjust based on the distance below the text */
        left: 2.25%; /* Center horizontally relative to the text */
        transform: translateX(0%); /* Center alignment under the text */
        height: 0.25rem; /* Thickness of the underline */
        width: 9.75rem; /* Width of the underline */
    }
}

@media screen and (max-width: 450px) {
    .AboutEtaGamma .aboutImg {
        display: flex;
        justify-content: center;
        width: 15rem;
    }

    .AboutHead {
        height: 60vh;
    }

    .AboutPage::after {
        height:70vh;
    }

    .AboutPics > img {
        width: 15rem;
    }

    .MottoVerbage{
        > h2 {
            font-size: 1.5rem;
        }

        > p {
            font-size: 1rem;
        }
    }

    .MottoVerbage h2::after {
        bottom: 17px; /* Adjust based on the distance below the text */
        left: 2.25%; /* Center horizontally relative to the text */
        transform: translateX(0%); /* Center alignment under the text */
        width: 7.25rem; /* Width of the underline */
    }
}