/* Head Piece */
.AboutHead {
    position: relative;
    background: url('/public/images/About_Head.jpg')
    center 
    center/cover
    no-repeat; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.3);
    object-fit: contain;
}

.AboutHead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust alpha for tint intensity */
    z-index: 1; /* Place overlay below text but above background */
}

.AboutHead > h1,
.AboutHead > p,
.AboutHead {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
}

.AboutHead > h1 {
    color: #fff !important;
    font-size: 100px;
    margin-top: -100px;
}

.AboutHead > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body */
.AboutBody {
    background-color: #ffffff;
}

.AboutThetaTau > h1,
.AboutThetaTau > p,
.AboutEtaGamma > h1,
.AboutEtaGamma >p {
    color: black;
    position: relative;
    z-index: 2;
    text-align: center;
}

.AboutThetaTau > h1,
.AboutEtaGamma > h1 {
    margin-top: 2rem;
    font-size: 4rem;
}

.AboutThetaTau h1::after {
    content: ""; /* No content, just a decorative line */
    position: absolute;
    bottom: 0; /* Align it at the bottom of the text */
    left: 50%; /* Start from the center horizontally */
    transform: translateX(-50%); /* Center it under the text */
    height: .35rem; /* Thickness of the underline */
    width: 32%; /* Width of the underline */
    background-color: rgba(0, 0, 0, 0.2); /* Light grey color for underline */
    border-radius: 5px; /* Slightly rounded edges for a softer look */
}

.AboutEtaGamma h1::after {
    content: ""; /* No content, just a decorative line */
    position: absolute;
    bottom: 0; /* Align it at the bottom of the text */
    left: 50%; /* Start from the center horizontally */
    transform: translateX(-50%); /* Center it under the text */
    height: .35rem; /* Thickness of the underline */
    width: 35%; /* Width of the underline */
    background-color: rgba(0, 0, 0, 0.2); /* Light grey color for underline */
    border-radius: 5px; /* Slightly rounded edges for a softer look */
}

.AboutThetaTau > p,
.AboutEtaGamma .grid-item  > p {
    display: block;
    align-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.grid-container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right:  4rem;
    margin-left: .5rem;
    gap: 1rem;
}

