.footer-container {
    background-color: #161616;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: left;
    width: 10rem;
    box-sizing: border-box;
    row-gap: 1rem;
}

.socials-items {
    display: inline-block;
    background-color: #8B0000; /* Dark red color */
    padding: 0.75rem 1.5rem; /* Adjust padding for a more balanced look */
    border-radius: 50px; /* Higher value for rounded edges */
    text-align: center;
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    font-size: 1rem; /* Adjust font size if necessary */
    text-decoration: none;
}

.socials-items:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(139, 0, 0) !important;
    transition: all 0.3s ease-in;
}

.footer-link-items h2 {
    margin-bottom: 16px;
}

.footer-link-items > h2 {
    color: rgb(139, 0, 0);
}

.footer-link-items a {
    color: rgb(255, 215, 0);
    text-decoration: none;
    margin-bottom: 8px;
}


.footer-link-items a:hover {
    color: rgb(139, 0, 0);
    transition: 0.3s ease-out;
    background-color: rgb(255, 215, 0);
    border-radius: 25%;
    padding: .10rem;
}

.footer-logo {
    content: url('../../public/images/ThetaTauLogo.png');
}

.footer-email-form h2 {
    margin-bottom: 32px;
}

.footer-input::placeholder {
    color: #b1b1b1;

}

/* Social Icons */
.social-icon-link {
    color: rgb(255, 255, 255);
    display: inline-block;
    background-color: #8B0000; /* Dark red color */
    padding: 0.75rem .75rem; /* Adjust padding for a more balanced look */
    border-radius: 50%; /* Higher value for rounded edges */
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* Adjust font size if necessary */
    text-decoration: none;
}

.social-icon-link:hover {
    color:#8B0000;
    background-color: rgb(255, 215, 0);
    transition: all 0.3s ease-in;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem;
    column-gap: 1.5rem;
}

.social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
}

.website-rights {
    color: #fff;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    .footer-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}