.Gallery {
    width: 100%;
    overflow: hidden; /* Prevent overflow issues */
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .GallerySlide img {
    width: 27rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 1300px) {
    .GallerySlide img {
        width: 22rem;
        height: 18rem;
      }
  }

  @media only screen and (max-width: 1175px) {
    .GallerySlide img {
        width: 20rem;
        height: 16rem;
      }
  }

  @media only screen and (max-width: 1100px) {
    .GallerySlide img {
        width: 17rem;
        height: 15rem;
      }
  }

  @media only screen and (max-width: 875px) {
    .GallerySlide img {
        width: 21rem;
        height: 17rem;
      }
  }

  @media only screen and (max-width: 700px) {
    .GallerySlide img {
        width: 19rem;
        height: 16rem;
      }
  }

  @media only screen and (max-width: 625px) {
    .GallerySlide img {
        width: 17rem;
        height: 15rem;
      }
  }

  @media only screen and (max-width: 575px) {
    .GallerySlide img {
        width: 15rem;
        height: 13rem;
      }
  }

  @media only screen and (max-width: 500px) {
    .GallerySlide img {
        width: 13rem;
        height: 12rem;
      }
  }