.Gallery {
    width: 100%;
    overflow: hidden; /* Prevent overflow issues */
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .GallerySlide img {
    width: 27rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 400px) {
    .GallerySlide img {
        width: 20rem;
        height: 10rem;
      }
  }

  @media only screen and (max-width: 450px) {
    .GallerySlide img {
        width: 20rem;
        height: 15rem;
      }
  }