/* Avenir Next Font Face Declarations */
@font-face {
    font-family: 'Avenir Next';
    src: url('./font/Avenir Next.ttc') format('truetype'),
         url('./font/Avenir Next.ttc') format('collection');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./font/Avenir Next.ttc') format('truetype'),
         url('./font/Avenir Next.ttc') format('collection');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./font/Avenir Next.ttc') format('truetype'),
         url('./font/Avenir Next.ttc') format('collection');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./font/Avenir Next.ttc') format('truetype'),
         url('./font/Avenir Next.ttc') format('collection');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}